altgraph
async-timeout
brotli
brotlicffi
cachetools
certifi
cffi
charset-normalizer
google-api-core
google-api-python-client
google-auth-httplib2
google-auth
googleapis-common-protos
httplib2
idna
imageio-ffmpeg
imageio
importlib-metadata
macholib
mutagen
numpy
packaging
pefile
pillow
proto-plus
protobuf
psutil
pyasn1-modules
pyasn1
pycparser
pycryptodomex
pydub
pyinstaller-hooks-contrib
pyinstaller
pyparsing
python-dotenv
pytube
pywin32-ctypes
redis
requests
rsa
setuptools
spotipy
tk
uritemplate
urllib3
websockets
yt-dlp
zipp
Flask
gunicorn
Werkzeug